.container {

    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.registration{
    margin-left: auto;
    margin-right: auto;
    /* background:url(Pictures/istockphoto-861188910-612x612.jpg) no-repeat; */
    background-position: center center;
    background-size: cover; 
    height: auto;
    width: 100%;
  
        
      
}

.logo i{
    height: 55px;
    width: 55px;
    background: transparent;
    border: 2px solid palevioletred;
    color: palevioletred;
    border-radius: 50%;
    display: inline-flex;
    align-self: start;
    justify-content: center;
    margin-right: 25em;
    font-size: 20px;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #84a59d ;
    position: sticky;
    top: 0;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
    margin-right: 5em;
}

nav ul li{
    font-family: century;
    font-size: 1.3rem;
    font-weight: bold;
}

nav ul li a{
    text-decoration: none;
    color: palevioletred;
    padding: 10px 45px;
    transition: all .5s ease;
}

nav ul li a:hover{
    background-color: #f28482;
    color: black;
    box-shadow: 0 0 10px #f28482;
}

/* nav .hamb{
    width: 35px;
    height: 24px;
    right: 3%;
    top:60px ;
    z-index: 5;
    /* background: transparent; */
    /* position: absolute;
    cursor:pointer ;
    display: none; */
    /* background-color: white; */
/* } */
/* nav .hamb span{
    display: block;
    background: #c41d11;
    width: 100%;
    height: 3px;
    transition: .3s;
    /* transition-property: transform opacity ; */
/* } */
/* nav .hamb span:nth-child(2){
    margin: 7px 0px;
} */
/* hr{
    border-color: pink;
} */

/* nav .nav-list{
    list-style: none;

} */
/* nav .nav-list li{
    display: inline-block;
} */

/* nav .nav-list li a{
    display: inline-block;
    color:black;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 15px;
    font-weight:600 ;

} */
/* .emergencydiv{
    width: 50px;
    height: 60px;
} */
.emergency{
    background-color: #FFC0CB;
    color: white;
    border: none;
    padding: 5px;
    font-size: 31px;
    height: 300px;
    width: 300px;
    box-shadow: 0 2px 4px darkslategray;
    cursor: pointer;
    transition: all 0.2s ease;
  
  }

  .emergency:active {
    background-color:red;
    box-shadow: 0 0 2px rgb(68, 147, 147);
    transform: translateY(2px);
  }
  
  .emergency :not(:first-child) {
    margin-top: 10px;
  }

  .emergency {
    border-radius: 70%;
  }
/* input#go {
    background-color: #4c9ed9;
    color: #ffffff;
    padding: 20px 40px;
    border: 1px solid #111;
  }

  input#go:hover {
    background-color: #ffffff;
    color: #4c9ed9;
    border: 1px solid #111;
  } */

.buttons{
    margin-bottom: 10px;
    cursor: pointer;
    border-style: none;
    border-radius: 4px !important;
    padding: 25px;
    font-size: 25px !important;
    background-color: #50424d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
  }
  .reset{
    margin-left: 100px;
    background-color:palevioletred;
  
}
.submit{
    margin-left: 100px;
    background-color:palevioletred;
  
}
.butns {
    display: flex;
    flex-direction: row;
    justify-items:self-end;
  
  }
nav .nav-list li:not(:last-child) a:hover{
    color: #c41d11;
    transition: .4s;

}
nav .nav-list li.btn a{
    display: inline-block;
    /* background: transparent; */
    border: 2px solid #c41d11;
    padding: 9px 28px;
    border-radius:30px;
    line-height: 1.3;
    color: #c41d11;
    font-weight: 500;
}
nav .nav-list li.btn:hover a{
    background: #c41d11 ;
    /* color: white; */
    border: 2px solid transparent;
    transition: .4s;
}
@media screen and (max-width :1000px) {
    nav .hamb{
        display: initial;
    }
    .click{
        top: 46px;

    }
    .click span{
        position:absolute;
        margin-top: 12px;

    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;

    }
    .click span:last-child{
        transform: rotate(40deg);
        top:0;

    }
   
    .button-section{
        background-color: black;
    }
    nav .nav-list{
        position: absolute;
        top: 90px;
        right:-65%;
        bottom: 0;
        width: 20%;
        height: 20%; 
        background: black;
        z-index: 2;
        padding: 6% 9%;
        transition: .3s right ;
        border-radius:10px ;
    }
    nav .nav-list li{
        display: block;

    }
    
    nav .nav-list li a{
        display: block;
        text-align: center;
        font-size: 18px;
        font-weight:400 ;
        margin-left: 0;
        margin-bottom: 40px; 
    }
    nav .nav-list li.btn a{
        position: absolute;
        bottom: 0;
        right: 20%;
        left: 20%;
        padding: 7px 15px;
        font-size: 14px;
    }
    nav .nav-list.open{
        right: 0;

    }
    .container{
        flex-direction: column;
        min-height: 100vh;

    }
    .opacity{
        width:80%;
    }
    .calculations{
        flex-direction: column;
        
        
    }
}